.checkin-page {
   position: relative;
   background-image: url(assets/mars.jpg);
   background-position: center 450px;
   background-repeat: no-repeat;
   background-color: black;
}
.checkin-main {
   display: flex;
   align-items: center;
   flex-direction: column;
   width: 95vw;
   height: 80vh;
   padding: 0 2rem;
}
.checkin-form {
   height:50vh;
}
.show-validation {
   input, select, textarea {
      &.ng-invalid {
         animation: alert-pulse .25s alternate infinite;
      }
   }
}
@keyframes alert-pulse {
   0% {
      box-shadow: 0 0 0 0 red;
   }
   100% {
      box-shadow: 0 0 30px 5px red;
   }
}
@keyframes checkinEnter {
   0% {
      left:-1500px;
   }
   100% {
      left: 0px;
   }
}
