<div class="checkin-page">
   <div class="body">
      <div class="go-home" ui-sref="home"><p>home</p></div>
      <header>
         <h1>register</h1>
      </header>
      <div class="main">
         <form class="checkin-form" name="checkinForm" ng-class="{'show-validation' : showValidation}">
            <input type="text" name="name" class="input" placeholder="Name" autofocus="true" ng-model="colonist.name" required minlength="3"/>
            <input type="number" name="age" class="input"  placeholder="Age" ng-model="colonist.age" required/>
            <select name="jobs" class="input" ng-model="colonist.job_id" required>
               <option value="">Select occupation</option>
               <option value="{{job.id}}" ng-repeat="job in jobs">{{job.name}}</option>
            </select>
         </form>
         <footer>
            <button name="button" class="btn" ng-click="login($event)">Check in</button>
         </footer>
      </div>
   </div>
</div>
