@font-face {
   font-family: 'Mars';
   src: url('fonts/mars-webfont.eot');
   src: url('fonts/mars-webfont.eot?#iefix')
   format('embedded-opentype'),
   url('fonts/mars-webfont.woff')
   format('woff'),
   url('fonts/mars-webfont.ttf')
   format('truetype'),
   url('fonts/mars-webfont.svg#robotoregular')
   format('svg');
   font-weight: normal;
   font-style: normal;
}
